[Unit]
Description=Galera status logger
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/opt/galera-stats/stats.py --mysql-socket=/var/run/mysqld/mysqld.sock --redis-host=log0
